<div class="container">
  <% if notice %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <% end %>

  <h1><%= t('.title') %></h1>

  <table class="table">
    <thead>
      <tr>
        <th><%= t("activerecord.attributes.label.name") %></th>
        <th><%= t("activerecord.attributes.label.tasks_count") %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @labels.each do |label| %>
        <tr>
          <td><%= label.name %></td>
          <td><%= label.tasks.count %></td>
          <td><%= link_to t("common.edit"), edit_label_path(label), class: "btn btn-primary edit-label" %></td>
          <td><%= link_to t("common.destroy"), label, method: :delete, class: "btn btn-danger destroy-label", data: { confirm: t('common.confirm_destroy') } %></td>
          <td>
            <% label.tasks.each do |task| %>
              <%= task.title %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>