<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <p class="<%= key %>"><%= value %></p>
    <% end %>
    <ul>
      <% if current_user && current_user.is_admin? %>
        <li><%= link_to t("layouts.application.users_index"), admin_users_path, id: "users-index" %></li>
        <li><%= link_to t("users.new.register"), admin_user_path(user.id), id: "account-setting" %></li>
      <% end %>
        <li><%= link_to t("layouts.application.tasks_index"), tasks_path %> </li>
        <li><%= link_to t("tasks.new.register"), new_task_path %></li>
      <% if current_user %>
        <li><%= link_to t("layouts.application.account_setting"), edit_user_path(current_user), id: "account_setting" %></li>
      <% end %>
        <li><%= link_to t("layouts.application.sign_out"), logout_path, method: :delete, id: "sign-out" %></li>
        <li><%= link_to t("layouts.application.create_session"), new_user_path %></li>
        <li><%= link_to t("layouts.application.sign_in"), new_session_path, id: "sign-in" %></li>

    </ul>

    <%= yield %>
  </body>
</html>