<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <p class="<%= key %>"><%= value %></p>
    <% end %>
    <ul>
      <% if current_admin %>
        <li><%= link_to "Users", users_path, id: "users-index" %></li>
      <% end %>
      <% if current_user %>
        <li><%= link_to t("tasks.index.title"), tasks_path %> </li>
        <li><%= link_to t("tasks.new.title"), new_task_path %></li>
        <li><%= link_to t("layouts.application.account_setting"), edit_user_path(current_user), id: "account_setting" %></li>
        <li><%= link_to t("layouts.application.sign_out"), logout_path, method: :delete, id: "sign-out" %></li>
      <% else %>
        <li><%= link_to t("layouts.application.sign_up"), new_user_path, id: "sign-up" %></li>
        <li><%= link_to t("layouts.application.sign_in"), login_path, id: "sign-in" %></li>
      <% end %>
    </ul>

    <%= yield %>
  </body>
</html>